.nav-bar {
    align-items: center;
    background-color: black;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(33, 22, 14));
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.trivia-title {
    font-size: 2rem;
}